@use 'variables' as *;

.btn {
    margin: 0;
    padding: 11px 16px;
    display: inline-block;
    font-size: $font-size-14;
    font-family: $font-family-body-md;
    color: $color-black;
    background-color: $color-white;
    border: 2px solid $color-white;
    border-radius: 8px;
    outline: none;
    border: 2px solid transparent;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: $transition;

    &:hover {
        background-color: lighten($color-black, 95%);
        border: 2px solid lighten($color-black, 95%);
    }

    &:active {
        background-color: lighten($color-black, 88%);
        border: 2px solid lighten($color-black, 88%);
    }

    &:focus {
        background-color: lighten($color-black, 95%);
        border: 2px solid lighten($color-black, 95%);
    }

    &-primary {
        background-color: $color-primary;
        border: 2px solid $color-primary;

        &:hover {
            border: 2px solid darken($color-primary, 5%);
            background-color: darken($color-primary, 5%);
        }

        &:active {
            border: 2px solid darken($color-primary, 9%);
            background-color: darken($color-primary, 9%);
        }

        &:focus {
            border: 2px solid darken($color-primary, 9%);
            background-color: darken($color-primary, 9%);
        }
    }

    &-black {
        color: $color-white;
        background-color: $color-black;
        border: 2px solid $color-black;

        &:hover {
            color: $color-white;
            border: 2px solid lighten($color-black, 5%);
            background-color: lighten($color-black, 5%);
        }

        &:active {
            color: $color-white;
            border: 2px solid lighten($color-black, 9%);
            background-color: lighten($color-black, 9%);
        }

        &:focus {
            color: $color-white;
            border: 2px solid lighten($color-black, 9%);
            background-color: lighten($color-black, 9%);
        }

        &.btn-outline {
            border: 2px solid $color-black;
            color: $color-black;
            background-color: transparent;

            &:hover {
                color: $color-white;
                background-color: $color-black;
            }

            &:active {
                color: $color-white;
                background-color: lighten($color-black, 5%);
                border: 2px solid lighten($color-black, 5%);
            }

            &:focus {
                color: $color-white;
                background-color: lighten($color-black, 5%);
                border: 2px solid lighten($color-black, 5%);
            }
        }
    }

    &-medium {
        padding: 10px 14px;
    }
}