@use 'variables' as *;

.form {
    &-container {
        margin: 0;
        padding: 0;
        width: 100%;
        position: relative;
    }

    &-label {
        margin: 0 0 8px;
        padding: 0;
        display: block;
        color: lighten($color-black, 10%);
        font-size: $font-size;
        font-family: $font-family-heading;
    }

    &-control[type=text],
    &-control[type=email],
    &-control[type=phone],
    &-control[type=number],
    &-control[type=password] {
        margin: 0;
        padding: 12px 16px;
        width: 100%;
        font-size: $font-size;
        font-family: $font-family-body;
        color: $color-black;
        border: 1px solid #9E9E9E; //E2E8F0;
        outline: none;
        border-radius: 8px;
        transition: $transition;

        &:focus {
            border: 1px solid $color-black;
            outline: none;
        }
    }

    &-control[type=checkbox] {
        margin: 0;
        padding: 0;
        height: 0;
        width: 0;
        display: inline-block;
        position: relative;
        cursor: pointer;

        &:before {
            content: "";
            display: inline-block;
            width: 18px;
            height: 18px;
            background: $color-white;
            outline: 1px solid #9E9E9E;
            border: 0 solid transparent;
            border-radius: 2px;
            position: absolute;
            top: 3px;
            left: 0;
            transition: all 250ms cubic-bezier(.4,.0,.23,1);
        }

        &:after {
            content: "";
            position: absolute;
            top: 12px;
            left: 4px;
            border-right: 2px solid transparent;
            border-bottom: 2px solid transparent;
            transform: rotate(45deg);
            transform-origin: 0% 100%;
        }

        &:not(:checked):hover {
            &:before {
                outline: 1px solid $color-black;
            }
        }

        &:focus {
            &:before {
                outline: 1px solid $color-accent;
            }
        }

        &:checked {
            &:before {
                outline: 1px solid $color-accent;
                border: 9px solid $color-accent;
                // animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
            }

            &:after {
                animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
            }
        }

        & + label {
            margin: 0;
            padding: 0 {
                left: 27px;
            };
            display: block;
            color: $color-black;
            font-size: $font-size;
            font-family: $font-family-body;
            // transition: color 250ms cubic-bezier(.4,.0,.23,1);
        }
    }
}

.input-newsletter {
    input.form-control {
        padding: 13px 16px {
            right: 115px;
        };
    }

    button {
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
    }
}
