@use 'variables' as *;

*:before,
*,
*:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
}

::selection {
    color: $color-black;
    background-color: $color-primary;
}

html {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: $font-size;
    font-family: $font-family-body;
    overflow-x: hidden;

    body {
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: $font-size;
        font-family: $font-family-body;
        overflow-x: hidden;
        background-color: $color-white;
    }
}

a {
    text-decoration: none;

    &:not(.btn) {
        display: inline-block;
        font-family: $font-family-body-md;
        color: $color-link;
        transition: color .25s ease;

        &:hover {
            color: darken($color-link, 20%);
        }

        &:visited {
            color: darken($color-link, 30%);

            &:hover {
                color: darken($color-link, 20%);
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-heading;
}

.color {
    &-primary {
        color: $color-primary !important;
    }

    &-white {
        color: $color-white !important;
    }

    &-black {
        color: $color-black !important;
    }
}

.font-size {
    font-size: $font-size;

    &-10 {
        font-size: $font-size-10;
    }

    &-11 {
        font-size: $font-size-11;
    }

    &-12 {
        font-size: $font-size-12;
    }

    &-13 {
        font-size: $font-size-13;
    }

    &-14 {
        font-size: $font-size-14;
    }

    &-15 {
        font-size: $font-size-15;
    }

    &-16 {
        font-size: $font-size-16;
    }

    &-17 {
        font-size: $font-size-17;
    }

    &-18 {
        font-size: $font-size-18;
    }

    &-19 {
        font-size: $font-size-19;
    }

    &-20 {
        font-size: $font-size-20;
    }

    &-21 {
        font-size: $font-size-21;
    }

    &-22 {
        font-size: $font-size-22;
    }

    &-23 {
        font-size: $font-size-23;
    }

    &-24 {
        font-size: $font-size-24;
    }

    &-25 {
        font-size: $font-size-25;
    }

    &-26 {
        font-size: $font-size-26;
    }

    &-27 {
        font-size: $font-size-27;
    }

    &-28 {
        font-size: $font-size-28;
    }

    &-29 {
        font-size: $font-size-29;
    }

    &-30 {
        font-size: $font-size-30;
    }

    &-35 {
        font-size: $font-size-35;
    }

    &-40 {
        font-size: $font-size-40;
    }

    &-41 {
        font-size: $font-size-41;
    }

    &-42 {
        font-size: $font-size-42;
    }

    &-43 {
        font-size: $font-size-43;
    }

    &-44 {
        font-size: $font-size-44;
    }

    &-45 {
        font-size: $font-size-45;
    }
}
